<!DOCTYPE html>
<html>
  <head>
    <title>plaidchat | chat for teams</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://use.fontawesome.com/3c0efe9141.js"></script>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser =
        <%= render('/api/users/user_full_info.json.jbuilder', user: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
